MONGO_URI=mongodb+srv://heyridmi_db_user:z8hNU7shVkaDpomk@cluster0.ne6fvka.mongodb.net/?appName=Cluster0
JWT_SECRET=runrunrunbanana
CLIENT_URL=http://localhost:5175
PORT=5000
DISABLE_AUTH=
DISABLE_DB=
